{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | Gateway Seminary ADVANCE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
  </head>
  <body>
<div class="container" id="login-container">

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>{{ form.username.label_tag }}</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>{{ form.password.label_tag }}</th>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <button type="submit" value="login">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <a href="{% url 'password_reset' %}">Lost password?</a>
</div>

<style>
  body {
      background-image: url("{% static 'images/login_background.jpg' %}");
      background-size: cover;
      background-attachment: fixed;
      max-height: 100vh;
  }
  #login-container {
      background: white;
      width: fit-content;
      text-align: center;
      border: 10px solid white;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40vh;
  }
</style>

  </body>
</html>
