{% extends "app/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container" id="login-container">

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>{{ form.username.label_tag }}</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>{{ form.password.label_tag }}</th>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <button type="submit" value="login">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <a href="{% url 'password_reset' %}">Lost password?</a>
</div>

<style>
  body {
      background-image: url("{% static 'images/login_background.jpg' %}");
      background-size: cover;
  }
  #login-container {
      background: white;
      width: fit-content;
      text-align: center;
      margin-top: 30%;
      margin-left: 30vw;
  }
</style>

{% endblock %}
