{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}AdvanSIS{% endblock %} | Gateway Seminary ADVANCE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}"/>
    <script type="text/javascript" src="{% static 'lib/jquery-3.7.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/htmx-2.0.4.min.js' %}"></script>
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <span><b>Hello, {{user.person.preferred_name|default_if_none:user.person.given_name}} ({{user.username}})!</b></span>
        </li>
        <li class="menu-item">
          <a href="{% url 'app:dashboard' %}">Home</a>
        </li>
        <li class="menu-item">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li class="menu-item">
          <a href="{% url 'login' %}">Log in</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <br/>
    <div id="maincontent">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
