{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}AdvanSIS{% endblock %} | Gateway Seminary ADVANCE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <script type="text/javascript" src="{% static 'lib/jquery-3.7.1.slim.min.js' %}"></script>
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <span>Hello, {{user.person.preferred_name}} ({{user.username}})!</span>
        </li>
        <li class="menu-item">
          <a href="{% url 'app:dashboard' %}">Dashboard</a>
        </li>
        <li class="menu-item">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li class="menu-item">
          <a href="{% url 'login' %}">Log in</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <br/>
    <div id="maincontent">
      {% block content %}{% endblock %}
    </div>
    <script>
      // https://stackoverflow.com/questions/11844256/alert-for-unsaved-changes-in-form
      var initial_form_data = {};
      var check_form_inputs = true;
      function update_form(f, obj) {
          let action = $(f).data('form-id') || $(f).attr('action') || 'self';
          obj[action] = $(f).serialize();
          return action;
      }
      function update_all_forms(obj) {
          $('form').each((i, f) => update_form(f, obj));
      }
      $(function() {
          update_all_forms(initial_form_data);
          $('form').submit(_ => {check_form_inputs = false;});
          $(window).bind('beforeunload', function(e) {
              if (check_form_inputs) {
                  let cur = {};
                  let mismatch = false;
                  $('form').each((i, f) => {
                      let a = update_form(f, cur);
                      if (cur[a] != initial_form_data[a]) {
                          mismatch = true;
                      }
                  });
                  if (mismatch) {
                      e.preventDefault();
                      return true;
                  }
              }
          });
      });
    </script>
  </body>
</html>
