<tr id="course_row_{{course.id}}" class="course"
    data-credits="{{course.course.credits}}">
  <td>
    {{course.course.title}}
  </td>
  <td>
    {{course.get_semester_display}}
  </td>
  <td>
    <table id="course_{{course.id}}">
      <tr>
	      <th>Country</th>
	      <th>Students</th>
      </tr>
      {% for enrollment in course.iter_enrollments %}
      {% include 'app/center_budget_enrollment.html' %}
      {% endfor %}
    </table>
    <details>
      <summary>Add Country</summary>
      <form hx-target="#course_{{course.id}}" hx-swap="beforeend"
	          hx-post="{% url 'app:center_budget_new_enrollment' course.budget.center.id course.id %}"
            data-form-id="skip">
	      {% csrf_token %}
	      <table>
	        {{course.new_country_form.as_table}}
	      </table>
	      <button type="submit">Add</button>
      </form>
    </details>
  </td>
  <td style="border-left: 1px solid gray">
    <span class="center-fee"></span>
  </td>
  <td>
    <span class="gs-fee"></span>
  </td>
  <td>
    <span class="total-fee"></span>
  </td>
  <td>
    <form hx-post="{% url 'app:center_budget_del_course' course.budget.center.id course.id %}"
          hx-target="#course_row_{{course.id}}"
          hx-swap="outerhtml">
      {% csrf_token %}
      <button style="width: 100%">Delete</button>
    </form>
  </td>
</tr>
