{% extends 'app/base.html' %}

{% block title %}Centers{% endblock %}

{% block content %}
<div>
  <div id="toc">
    <ul>
      {% for center in centers %}
      <li><a href="#c{{center.id}}">{{center.code}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="contents">
<h1>All Centers</h1>
{% for center in centers %}
<div class="search-item">
  <a class="fake-anchor" name="c{{center.id}}">null</a>
  <h2>{{center.name}} ({{center.code}})</h2>
  <p><b>Director:</b> {{center.director.given_name}} {{center.director.family_name}} {{center.director.main_email.email|urlize}}</p>
  <p><a href="{% url 'app:student_apply' center.id %}">Apply to be a student at this center</a></p>
  <p><a href="{% url 'app:instructor_apply' center.id %}">Apply to be an instructor at this center</a></p>
  {% if user.is_staff %}
  <h3>Staff Links</h3>
  <p><a href="{% url 'app:center_students' center.id %}">Manage Students</a></p>
  <p><a href="{% url 'app:center_instructors' center.id %}">Manage Instructors</a></p>
  <p><a href="{% url 'app:center_courses' center.id %}">Manage Courses</a></p>
  <p><a href="{% url 'app:center_course_report' center.id %}">Course Reports</a></p>
  <p><a href="{% url 'app:center_tally' center.id %}">Tally Sheet</a></p>
  <p><a href="{% url 'app:center_budget' center.id %}">Center Budget</a></p>
  {% endif %}
</div>
{% endfor %}
<div class="search-item">
  <h2>Apply to Start a New Center</h2>
  <p>To apply to be the director of a new center, <a href="{% url 'app:new_center' %}">click here</a>.</p>
</div>
<div class="search-item">
  <h2>Apply to Be an Instructor-at-Large</h2>
  <p>To apply to be an Instructor-at-Large, <a href="{% url 'app:instructor_at_large_apply' %}">click here</a>.</p>
</div>
  </div>
</div>
{% endblock %}
