{% extends 'app/base.html' %}

{% block title %}Centers{% endblock %}

{% block content %}
{% for center in centers %}
<div class="search-item">
  <h3>{{center.name}} ({{center.code}})</h3>
  <p><b>Director:</b> {{center.director.given_name}} {{center.director.family_name}}</p>
  {# TODO: contact info #}
  <p><a href="{% url 'app:student_apply' center.id %}">Apply to be a student at this center</a></p>
  <p><a href="{% url 'app:instructor_apply' center.id %}">Apply to be an instructor at this center</a></p>
</div>
{% endfor %}
{% endblock %}
