{% load autosave %}
<tr {{id_fields}} class="course" data-credits="{{instance.course.credits}}">
  <td>
    {{instance.course.title}}
  </td>
  <td>
    {{instance.get_semester_display}}
  </td>
  <td>
    <table id="course_{{instance.id}}">
      <tr>
	      <th>Country</th>
	      <th>Students</th>
      </tr>
      {% for enrollment in instance.iter_enrollments %}
      {{enrollment|as_row}}
      {% endfor %}
    </table>
    <details>
      <summary>Add Country</summary>
      <form hx-target="#course_{{instance.id}}" hx-swap="beforeend"
	          hx-post="{% create_url 'expectedenrollment' %}"
            data-form-id="skip">
	      <table>
          <input type="hidden" name="course" value="{{instance.id}}"/>
          {% create_form 'expectedenrollment' %}
	      </table>
	      <button type="submit">Add</button>
      </form>
    </details>
  </td>
  <td style="border-left: 1px solid gray">
    <span class="center-fee"></span>
  </td>
  <td>
    <span class="gs-fee"></span>
  </td>
  <td>
    <span class="total-fee"></span>
  </td>
  <td>
    {{instance|delete_button}}
  </td>
</tr>
