{% extends 'app/email_base.html' %}

{% block content %}
<p>Hello {{sr.church_rec_name}},</p>
<br/>
<p>
  A member of your church named <b>{{sr.person.full_name}}</b> has applied for admission to the <a href="https://www.gs.edu/academics/degrees/advance/">ADVANCE program of Gateway Seminary</a>.
  We require your endorsement of them as someone with real potential for Christian service.
  Please <a href="https://joseph.dangswan.com{% url 'app:church_endorsement' sr.id %}">submit your endorsement</a> today to help complete the student’s application process.
</p>
<br/>
<p>Thank you!</p>
{% endblock %}

{% block signature %}ADVANCE Admissions{% endblock %}
