{% extends 'app/base.html' %}

{% block title %}Resources for {{course}}{% endblock %}

{% block content %}
<h1>{{course}}</h1>
<details>
  <summary>Description</summary>
  <p>{{course.description|linebreaksbr}}</p>
  <h2>Learning Objectives</h2>
  {{course.learning_objectives_block}}
</details>
<h2>Available Files</h2>
<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Language</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for fl in files %}
    <tr>
      <td>
        <a href="{{fl.display_url}}">{{fl}}</a>
      </td>
      <td>{{fl.language}}</td>
      <td>
        {% if fl.owner is None %}
        <i>ADVANCE</i>
        {% else %}
        {{fl.owner}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Add File</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <button type="submit">Submit</button>
</form>
{% endblock %}
