{% extends 'app/base.html' %}

{% block title %}Resources for {{course}}{% endblock %}

{% block content %}
<h1>{{course}}</h1>
<details>
  <summary>Description</summary>
  <p>{{course.description|linebreaksbr}}</p>
  <h2>Learning Objectives</h2>
  {{course.learning_objectives_block}}
</details>
<h2>Available Files</h2>
<ul>
  {% for fl in files %}
  <li>
    <a href="{{fl.content.url}}">{{fl}}</a>
    {% if fl.owner is None %}
    (<i>ADVANCE</i>)
    {% else %}
    ({{fl.owner}})
    {% endif %}
  </li>
  {% endfor %}
</ul>
<h2>Add File</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <button type="submit">Submit</button>
</form>
{% endblock %}
