{% extends 'app/base.html' %}

{% block title %}Course Search{% endblock %}

{% block content %}
<h1>Find a Course</h1>
<p>For a list of all courses offered by ADVANCE, see <a href="{% url 'app:course_catalog' %}">the course catalog</a>.</p>
{% for course in courses %}
<div>
  <h2>{{course}}</h2>
  <p><b>Center:</b> {{course.center.name}}</p>
  <details>
    <summary>Description</summary>
    <p>{{course.template.description|linebreaksbr}}</p>
  </details>
  <p><a href="{% url 'app:course' course.id %}">Details</a></p>
  <p><a href="{% url 'app:enroll' course.id %}">Enroll</a></p>
</div>
{% endfor %}
{% endblock %}
