{% extends 'app/base.html' %}

{% block title %}{{course}}{% endblock %}

{% block content %}
<h2>{{course.template.title}}</h2>
<p>{{course.template.code}} &mdash;&mdash;&mdash; {{course.get_semester_display}} {{course.year}}</p>
<p><b>Description:</b> {{course.template.description|linebreaksbr}}</p>
<h3>Learning Objectives</h3>
{{course.template.learning_objectives_block}}
{% if files %}
<h3>Files</h3>
<ul>
  {% for fl in files %}
  <li><a href="{{fl.shared_file.content.url}}">{{fl.shared_file.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% if not grade %}
<p><a href="{% url 'app:enroll' course.id %}">Enroll</a></p>
{% elif grade.value == 'IP' %}
<p>You are enrolled in this class.</p>
{% elif grade.value == 'Au' %}
<p>You are auditting this class.</p>
{% elif grade.value == 'W' %}
<p>You have withdrawn from this class.</p>
{% else %}
<p>Your grade in this class is {{grade.value}}.</p>
{% endif %}
{% endblock %}
