{% extends 'app/base.html' %}

{% block title %}{{course}}{% endblock %}

{% block content %}
<div class="center-subtitle">
  <h1>{{course.template.title}}</h1>
  <h2>{{course.template.code}} &mdash;&mdash;&mdash; {{course.get_semester_display}} {{course.year}}</h2>
</div>
<p><b>Description:</b> {{course.template.description|linebreaksbr}}</p>
<h2>Instructors</h2>
<ul>
  <li>{{course.instructor.given_name}} {{course.instructor.family_name}} {{course.instructor.main_email.email|urlize}}</li>
  {% for ins in course.assistant_instructors.all %}
  <li>{{ins.given_name}} {{ins.family_name}} {{ins.main_email.email|urlize}}</li>
  {% endfor %}
</ul>
<h2>Learning Objectives</h2>
{{course.template.learning_objectives_block}}
<h2>Schedule</h2>
{{course.display_schedule}}
{% if files %}
<h2>Files</h2>
<ul>
  {% for fl in files %}
  <li><a href="{{fl.shared_file.content.url}}">{{fl.shared_file.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% if not grade %}
{#<h2><a href="{% url 'app:enroll' course.id %}">Enroll</a></h2>#}
<form action="{% url 'app:enroll' course.id %}">
  <div style="width: 200px"></div>
  <button type="submit">Enroll</button>
</form>
{% elif grade.value == 'IP' %}
<h2>You are enrolled in this class.</h2>
{% elif grade.value == 'Au' %}
<h2>You are auditting this class.</h2>
{% elif grade.value == 'W' %}
<h2>You have withdrawn from this class.</h2>
{% else %}
<h2>Grade: {{grade.value}}</h2>
{% endif %}
{% endblock %}
