{% extends 'app/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="popup-messages">
  <span hx-trigger="load" hx-get="{% url 'app:list_popups' %}"></span>
</div>
<h1>ADVANCE JOSEPH Dashboard</h1>
{% if message %}
<h2>{{message}}</h2>
{% endif %}
<details {% if form.errors %}open{% endif %}>
  <summary>Update personal information</summary>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{form.as_table}}
    </table>
    <button type="submit">Submit</button>
  </form>
  <details>
    <summary>Emails</summary>
    <div id="emails" hx-trigger="load" hx-get="{% url 'app:edit_email' %}">
    </div>
  </details>
  <details>
    <summary>Phone Numbers</summary>
    <div id="phones" hx-trigger="load" hx-get="{% url 'app:edit_phone' %}">
    </div>
  </details>
  <details>
    <summary>Addresses</summary>
    <div id="mailings" hx-trigger="load" hx-get="{% url 'app:edit_mailing' %}">
    </div>
  </details>
</details>
{% if user.is_staff %}
<div class="search-item">
  <h2>ADVANCE Staff</h2>
  <p><a href="{% url 'app:message_global' %}">Message All Users</a></p>
  <p><a href="/admin">Go to database admin</a></p>
</div>
{% endif %}
{% for row in records %}
<div class="search-item">
  <h2>{{row.0.center.name}} ({{row.0.get_status_display}})</h2>
  {% if not row.2 %}
  {% if row.0.status == 'D' or row.0.status == 'R' %}
  <p><a href="{% url 'app:new_course' row.0.center.id %}">Add Course</a></p>
  <p><a href="{% url 'app:center_students' row.0.center.id %}">Manage Students</a></p>
  <p><a href="{% url 'app:center_instructors' row.0.center.id %}">Manage Instructors</a></p>
  <p><a href="{% url 'app:message_center_students' row.0.center.id %}">Message All Students</a></p>
  <p><a href="{% url 'app:center_report' row.0.center.id %}">Reports</a></p>
  {% endif %}
  {% endif %}
  {% if row.1.present %}
  <h3>Current Courses</h3>
  <ul>
    {% for course in row.1.present %}
    <li>{{course}}
      <a href="{% url 'app:course' course.id %}">View course</a>
      {% if not row.2 %}
      <a href="{% url 'app:manage_course' course.id %}">Administer course</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if row.1.future %}
  <h3>Upcoming Courses</h3>
  <ul>
    {% for course in row.1.future %}
    <li>{{course}}
      <a href="{% url 'app:course' course.id %}">View course</a>
      {% if not row.2 %}
      <a href="{% url 'app:manage_course' course.id %}">Administer course</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if row.1.past %}
  <details>
    <summary>Past Courses</summary>
    <ul>
      {% for course in row.1.past %}
      <li>{{course}}
        <a href="{% url 'app:course' course.id %}">View course</a>
        {% if not row.2 %}
        <a href="{% url 'app:manage_course' course.id %}">Administer course</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}
</div>
{% empty %}
<h2>You are not currently associated with any centers.</h2>
<p>Please select one of the following:</p>
<p><a href="">I am a student.</a></p>
<p><a href="">I am an instructor.</a></p>
<p><a href="">I am a staff member of an existing center.</a></p>
<p><a href="">I am interested in starting a new center.</a></p>
{% endfor %}
<h2>Links</h2>
<p><a href="{% url 'app:course_search' %}">Enroll in a course</a></p>
<p><a href="{% url 'app:center_search' %}">Apply to another center</a></p>
<p><a href="{% url 'app:degree_search' %}">Academic Progress</a></p>
<p><a href="{% url 'app:transcript' %}">Download Transcript</a></p>
<h2>External Links</h2>
<p>Get help by emailing <a href="mailto:ADVANCE@gs.edu">ADVANCE@gs.edu</a>.</p>
{# TODO: Youtube videos #}
<p><a href="https://advanceportal.thinkific.com/">ADVANCE Training Portal</a></p>
{# TODO: student handbook #}
<p>Code of Conduct: <a href="https://drive.google.com/file/d/1Yz5l4famlPY4IGMiE-zvW644Ybr_QB7t/view">English</a>, <a href="https://drive.google.com/file/d/0BzjGDUcHDPd2cW1IOVlpdXhqM2c/view?resourcekey=0-K-C9sGb1pIoaSG83WqyN-A">Spanish</a></p>
<p><a href="https://drive.google.com/file/d/1sPl6vIbs7MArthf6Q5COi0_a_L_4NFs_/view">Credit transfer form</a></p>
{% endblock %}
