{% extends 'app/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if message %}
<h3>{{message}}</h3>
{% endif %}
<details>
  <summary>Update personal information</summary>
  <form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
  </form>
</details>
{% for center in centers %}
<div class="search-item">
  <h2>{{center.name}} Administration</h2>
  <p><a href="{% url 'app:new_course' center.id %}">Add Course</a></p>
  <p><a href="{% url 'app:center_students' center.id %}">Manage Students</a></p>
  <p><a href="{% url 'app:center_instructors' center.id %}">Manage Instructors</a></p>
</div>
{% endfor %}
<h2>Courses</h2>
<ul>
  {% for course in teaching %}
  <li>{{course}} <a href="{% url 'app:manage_course' course.id %}">Administer course</a></li>
  {% endfor %}
  {% for grade in enrolled %}
  <li>{{grade.course}} <a href="{% url 'app:course' grade.course.id %}">View course</a></li>
  {% endfor %}
</ul>
<p><a href="{% url 'app:course_search' %}">Enroll in a course</a></p>
<p><a href="{% url 'app:center_search' %}">Apply to another center</a></p>
<p><a href="{% url 'app:degree_search' %}">Apply to graduate</a></p>
{% endblock %}
