{% extends 'app/base.html' %}

{% block title %}Degree Catalog{% endblock %}

{% block content %}
<div>
<div id="toc">
  <ul>
    {% for degree in degrees %}
    <li><a href="#d{{degree.id}}">{{degree.short_name}}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="contents">
{% for degree in degrees %}
<div class="search-item" id="d{{degree.id}}xx">
  <a class="fake-anchor" name="d{{degree.id}}">null</a>
  <h3>{{degree.name}} ({{degree.abbreviation}})</h3>
  <p>{{degree.description|linebreaksbr}}</p>
  <details>
    <summary>Requirements</summary>
    <p>Total Credits: {{degree.credits}}</p>
    <ul>
      {% for req in degree.requirements.all %}
      {{req.display}}
      {% endfor %}
      {% for req in degree.prerequisites.all %}
      <li>Must have already completed {{req}}</li>
      {% endfor %}
    </ul>
  </details>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
