<form hx-post="{% url 'app:edit_mailing' %}" hx-target="#mailings"
      hx-validate="false" novalidate data-form-id="mailing">
  {% csrf_token %}
  {% if existing %}
  <table>
    <tr>
      <th>Address</th>
      <th>Category</th>
      <th>Delete</th>
    </tr>
    {% for addr in existing %}
    <tr>
      <td>{{addr.as_block|linebreaks}}</td>
      <td>{{addr.get_category_display}}</td>
      <td>
	      <button type="submit" name="delete" value="{{addr.id}}">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {{form}}
  <button type="submit">Add</button>
</form>
