{% extends 'app/base.html' %}

{% block title %}Find Instructors{% endblock %}

{% block content %}
<h1>Find Instructors</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Interested Courses</th>
    <th>Languages Spoken</th>
    <th>Add</th>
  </tr>
  {% for instructor in instructors %}
  <tr>
    <td>
      <a href="{% url 'app:student_info' instructor.person.id %}">
	{{instructor.person}}
      </a>
    </td>
    <td>
      <ul style="max-height: 5lh; overflow-y: scroll">
	{% for course in instructor.interested_courses %}
	<li>{{course.title}}</li>
	{% endfor %}
      </ul>
    </td>
    <td>
      <ul>
	{% for lg in instructor.person.languages_spoken.all %}
	<li>{{lg}}</li>
	{% endfor %}
      </ul>
    </td>
    <td>
      <form action="{% url 'app:add_instructor' center.id instructor.id %}"
	    method="POST">
	{% csrf_token %}
	<button type="submit" style="width: 100%; display: block; margin: auto">
	  Add Instructor
	</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <details>
	<summary>View Bio</summary>
	{{instructor.profile.bio|linebreaks}}
      </details>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
