{% extends 'app/base.html' %}

{% block title %}Find Instructors{% endblock %}

{% block content %}
<h1>Find Instructors</h1>
<table>
  <tr>
    <th><label for="courses">Courses:</label></th>
    <td>
      <select id="courses" class="filter-select" multiple>
	{% for course in courses %}
	<option value="{{course.id}}">{{course}}</option>
	{% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <th>Education Level</th>
    <td>
      <fieldset id="ed_level" class="radio-row">
	<legend style="display: none">Education Level</legend>
	<span class="radio-block">
	  <label for="ed_level0">Masters Student</label>
	  <input id="ed_level0" type="checkbox" value="m"></input>
	</span>
	<span class="radio-block">
	  <label for="ed_level1">Masters Graduate</label>
	  <input id="ed_level1" type="checkbox" value="M"></input>
	</span>
	<br/>
	<span class="radio-block">
	  <label for="ed_level2">Doctoral Student</label>
	  <input id="ed_level2" type="checkbox" value="d"></input>
	</span>
	<span class="radio-block">
	  <label for="ed_level3">Doctoral Graduate</label>
	  <input id="ed_level3" type="checkbox" value="D"></input>
	</span>
      </fieldset>
    </td>
  </tr>
  <tr>
    <th><label for="year">Year</label></th>
    <td><input id="year" type="number" value="{{year}}"></input></td>
  </tr>
  <tr>
    <th>Semester</th>
    <td>
      <fieldset id="semester" class="radio-row">
	<legend style="display: none">Semester</legend>
	<span class="radio-block">
	  <label for="semester0">Spring</label>
	  <input id="semester0" type="checkbox" value="Sp"></input>
	</span>
	<span class="radio-block">
	  <label for="semester1">Summer</label>
	  <input id="semester1" type="checkbox" value="Su"></input>
	</span>
	<span class="radio-block">
	  <label for="semester2">Fall</label>
	  <input id="semester2" type="checkbox" value="Fa"></input>
	</span>
	<span class="radio-block">
	  <label for="semester3">Winter</label>
	  <input id="semester3" type="checkbox" value="Wi"></input>
	</span>
      </fieldset>
    </td>
  </tr>
  <tr>
    <th>Time of Day</th>
    <td>
      <fieldset id="time_of_day" class="radio-row">
	<legend style="display: none">Time of Day</legend>
	<span class="radio-block">
	  <label for="time_of_day0">Morning</label>
	  <input id="time_of_day0" type="checkbox" value="M"></input>
	</span>
	<span class="radio-block">
	  <label for="time_of_day1">Midday</label>
	  <input id="time_of_day1" type="checkbox" value="D"></input>
	</span>
	<span class="radio-block">
	  <label for="time_of_day2">Afternoon</label>
	  <input id="time_of_day2" type="checkbox" value="A"></input>
	</span>
	<span class="radio-block">
	  <label for="time_of_day3">Evening</label>
	  <input id="time_of_day3" type="checkbox" value="E"></input>
	</span>
      </fieldset>
    </td>
  </tr>
  <tr>
    <th><label for="language">Language</label></th>
    <td>
      <select id="language" class="filter-select" multiple>
	{% for lang in languages %}
	<option value="{{lang.id}}">{{lang.name}}</option>
	{% endfor %}
      </select>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th>Name</th>
    <th>Education Level</th>
    <th>Age</th>
    <th>Terms Available</th>
    <th>Interested Courses</th>
    <th>Add</th>
  </tr>
  {% for instructor in instructors %}
  <tr class="filter-row"
      data-courses="{{instructor.profile.courses}}"
      data-edlevel="{{instructor.person.ed_level}}"
      data-terms="{{instructor.profile.terms}}"
      data-time="{{instructor.profile.time_of_day}}"
      data-language="[{% for lg in instructor.person.languages_spoken.all %}
		     {{lg.id}}{% if not forloop.last %},{% endif %}
		     {% endfor %}]">
    <td>
      <a href="{% url 'app:student_info' instructor.person.id %}">
	{{instructor.person}}
      </a>
    </td>
    <td>{{instructor.person.get_ed_level_display}}</td>
    <td>{{instructor.person.age}}</td>
    <td>
      {{instructor.get_semester_display}}
    </td>
    <td>
      <ul style="max-height: 5lh; overflow-y: scroll">
	{% for course in instructor.interested_courses %}
	<li>{{course.title}}</li>
	{% endfor %}
      </ul>
    </td>
    <td>
      <form action="{% url 'app:add_instructor' center.id instructor.id %}"
	    method="POST"
	    data-form-id="skip">
	{% csrf_token %}
	<button type="submit" style="width: 100%; display: block; margin: auto">
	  Add Instructor
	</button>
      </form>
    </td>
  </tr>
  <tr class="filter-row"
      data-courses="{{instructor.profile.courses}}"
      data-edlevel="{{instructor.person.ed_level}}"
      data-terms="{{instructor.profile.terms}}"
      data-time="{{instructor.profile.time_of_day}}"
      data-language="[{% for lg in instructor.person.languages_spoken.all %}
		     {{lg.id}}{% if not forloop.last %},{% endif %}
		     {% endfor %}]">
    <td colspan="6">
      <details>
	<summary>View Bio</summary>
	<p>
	  <b>Languages Spoken:</b>
	  {% for lg in instructor.person.languages_spoken.all %}
	  {{lg}}{% if not forloop.last %},{% endif %}
	  {% endfor %}
	</p>
	<p><b>Available At:</b> {{instructor.get_time_of_day_display}}</p>
	<p><b>Timezone:</b> {{instructor.profile.timezone}}</p>
  {% if instructor.resume %}
  <p><a href="{{instructor.resume.url}}">Resume</a></p>
  {% endif %}
	<p>
	  <b>Preferred Concat Method:</b>
	  {% if instructor.profile.preferred_contact_method == 'phone' %}
	  {{instructor.person.main_phone.phone}}
	  {% else %}
	  {{instructor.person.main_email.email|urlize}}
	  {% endif %}
	</p>
	{{instructor.profile.bio|linebreaks}}
      </details>
    </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  function do_search() {
      let courses = $('#courses').val().map(s => parseInt(s));
      let ed_level = Array.from($('#ed_level').find(':checked')
				.map((_, e) => $(e).val()));
      let year = parseInt($('#year').val() || '0');
      let semesters = Array.from($('#semester').find(':checked')
				 .map((_, e) => $(e).val()));
      let times = Array.from($('#time_of_day').find(':checked')
			     .map((_, e) => $(e).val()));
      let langs = $('#language').val().map(l => parseInt(l));
      $('tr.filter-row').each(function(i, _tr) {
	  let tr = $(_tr);
	  let terms = JSON.parse(tr.data('terms').replaceAll("'", '"'));
	  let time = JSON.parse(tr.data('time').replaceAll("'", '"'));
	  tr.show();
	  if (courses.length && tr.data('courses').every(
	      x => !courses.includes(x))) {
	      tr.hide();
	  } else if (ed_level.length &&
		     !ed_level.includes(tr.data('edlevel'))) {
	      tr.hide();
	  } else if ((year > 0 || semesters.length) &&
		     !terms.some(function(t) {
			 let s = t.slice(0, 2);
			 let y = parseInt(t.slice(3));
			 return ((!semesters.length ||
				  semesters.includes(s)) &&
				 (year == 0 || year == y));
		     })) {
	      tr.hide();
	  } else if (times.length && !time.some(t => times.includes(t))) {
	      tr.hide();
	  } else if (langs.length && !tr.data('language').some(
	      l => langs.includes(l))) {
	      tr.hide();
	  }
      });
  }
  $(document).ready(function() {
      $('#courses').change(do_search);
      $('#ed_level').change(do_search);
      $('#year').change(do_search);
      $('#semester').change(do_search);
      $('#time_of_day').change(do_search);
      $('#language').change(do_search);
      do_search();
  });
</script>
{% endblock %}
