{% extends 'app/base.html' %}

{% block title %}Manage {{course}}{% endblock %}

{% block content %}
<div class="center-subtitle">
  <h1>Manage <i>{{course.template.title}}</i></h1>
  <h2>{{course.template.code}} &mdash;&mdash;&mdash; {{course.get_semester_display}} {{course.year}}</h2>
</div>
<details>
  <summary>Description</summary>
  <p>{{course.template.description|linebreaksbr}}</p>
  <h2>Learning Objectives</h2>
  {{course.template.learning_objectives_block}}
</details>
<p><a href="{% url 'app:message_course_students' course.id %}">Message all students</a></p>
<h2>Schedule</h2>
<div id="schedule">
  {{course.display_schedule}}
  <button hx-get="{% url 'app:edit_schedule' course.id %}"
          hx-target="#schedule">Edit Schedule</button>
</div>
<h2>Registration &amp; Grades</h2>
<table id="grade_list">
  <tr>
    <th>Person</th>
    <th>Grade</th>
    {% if course.status != 'L' %}
    <th>Unenroll</th>
    {% endif %}
  </tr>
  {% for grade in grades %}
  {% include 'app/manage_course_grade.html' %}
  {% endfor %}
</table>
{% if course.status == 'A' %}
<div id="add-student">
  <button hx-get="{% url 'app:add_student' course.id %}"
          hx-target="#add-student">
    Add Student
  </button>
</div>
{% endif %}
<h2>Files</h2>
<form method="POST" data-form-id="files">
  {% csrf_token %}
  <input type="hidden" name="mode" value="files"></input>
  {{files.management_form}}
  <table id="file_rows">
    <tr>
      <th>File</th>
      <th>Order</th>
      <th></th>{# id field #}
      <th>Delete</th>
      <th></th>
    </tr>
    {% for form in files %}
    <tr class="movable-row">
      {% for field in form %}
      <td>
        {% if field.name == 'order' %}
        <span style="display: none" class="order-field">{{field}}</span>
        <span class="button-row">
          <button type="button" class="move-up">&uarr;</button>
          <button type="button" class="move-down">&darr;</button>
        </span>
        {% else %}
        {{field}}
        {% endif %}
      </td>
      {% endfor %}
      <td>
        {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
    <tr id="add_placeholder">
      <td style="padding-top: 20px;">
        <button type="button" onclick="addForm();">Add File</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <button type="submit">Save</button>
</form>
<details>
  <summary>All available files</summary>
  <ul>
    {% for file in all_files %}
    <li>
      <a href="{{file.content.url}}">{{file.title}}</a>
    </li>
    {% endfor %}
  </ul>
</details>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="mode" value="add"></input>
  <h3>Add new file</h3>
  {{add_file}}
  <button type="submit">Submit File</button>
</form>

<template id="empty_row">
  <tr class="movable-row">
    {% for field in files.empty_form %}
    <td>
      {% if field.name == 'order' %}
      <span style="display: none" class="order-field">{{field}}</span>
      <span class="button-row">
        <button type="button" class="move-up">&uarr;</button>
        <button type="button" class="move-down">&darr;</button>
      </span>
      {% else %}
      {{field}}
      {% endif %}
    </td>
    {% endfor %}
    <td></td>
  </tr>
</template>

<script type="text/javascript">
  function addForm() {
      let template = document.getElementById('empty_row');
      let fragment = template.content.cloneNode(true);
      let totalinput = document.getElementById('id_files-TOTAL_FORMS');
      let total = Number(totalinput.value);
      for (let element of fragment.children) {
          element.innerHTML = element.innerHTML.replace(
              /(?<=\w+-)(__prefix__|\d+)(?=-\w+)/g,
              total.toString()).replace(
                  /(?<=order\")(?=>)/g,
                  ' value="'+(total+1).toString()+'"');
      }
      //document.getElementById('file_rows').appendChild(fragment);
      let hold = document.getElementById('add_placeholder');
      hold.parentNode.insertBefore(fragment, hold);
      //document.getElementById('file_rows').insertBefore(
      //    fragment, document.getElementById('add_placeholder'));
      totalinput.value = (total+1).toString();
  }
  function renumberForms() {
      $('#file_rows .order-field input').each((i, f) => {
          $(f).val(i+1);
      });
  }
  $(function() {
      $('#file_rows').on('click', '.move-up', function() {
          let row = $(this).closest('tr');
          let prev = row.prev('.movable-row');
          if (prev) {
              row.insertBefore(prev);
              renumberForms();
          }
      });
      $('#file_rows').on('click', '.move-down', function() {
          let row = $(this).closest('tr');
          let next = row.next('.movable-row');
          if (next) {
              row.insertAfter(next);
              renumberForms();
          }
      });
  });
</script>
{% endblock %}
