{% extends 'app/base.html' %}

{% block title %}{{center}} Courses{% endblock %}

{% block content %}
<h1>{{center}} Courses for {{semester}}{{year}}</h1>
<form>
  <table>{{form.as_table}}</table>
  <button type="submit">View</button>
</form>
<table>
  <tr>
    <th>Title</th>
    <th>Instructor</th>
    <th>Status</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>
      <a href="{% url 'app:manage_course' course.id %}">
	{{course.template}}
      </a>
    </td>
    <td>
      {% if course.instructor %}
      <a href="{% url 'app:student_info' course.instructor.id %}">
	{{course.instructor}}
      </a>
      {% else %}
      (Instructor not listed)
      {% endif %}
    </td>
    <td>{{course.get_status_display}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
