{% extends 'app/base.html' %}

{% block title %}Manage {{course}}{% endblock %}

{% block content %}
<h2>Manage <i>{{course}}</i></h2>
<details>
  <summary>Description</summary>
  <p>{{course.template.description|linebreaksbr}}</p>
  <h3>Learning Objectives</h3>
  {{course.template.learning_objectives_block}}
</details>
<h3>Grades</h3>
<form method="POST">
  {% csrf_token %}
  {{grades.management_form}}
  <table id="grade_rows">
    <tr>
      <th>Person</th>
      <th>Grade</th>
    </tr>
    {% for form in grades %}
    <tr>
      {% for field in form %}
      <td>
	      {{field}}
      </td>
      {% endfor %}
      <td>
	      {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <p>{{message}}</p>
  <p><a href="{% url 'app:add_student' course.id %}">Add student</a></p>
</form>
{% endblock %}
