{% extends 'app/base.html' %}

{% block title %}{{center}} Courses{% endblock %}

{% block content %}
{% if y1 and y2 %}
<h1>{{center}} Courses {{s1}} {{y1}} &mdash; {{s2}} {{y2}}</h1>
{% elif y1 %}
<h1>{{center}} Courses from {{s1}} {{y1}} onwards</h1>
{% elif y2 %}
<h1>{{center}} Courses upto {{s2}} {{y2}}</h1>
{% else %}
<h1>{{center}} All Courses</h1>
{% endif %}
<form>
  <table>{{form.as_table}}</table>
  <button type="submit">Search</button>
</form>
<table>
  <tr>
    <th>Title</th>
    <th>Term</th>
    <th>Enrollment</th>
    <th>Format</th>
    <th>Instructor</th>
    <th>Status</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>
      <a href="{% url 'app:manage_course' course.id %}">
	      {{course.template}}
      </a>
    </td>
    <td>{{course.get_semester_display}} {{course.year}}</td>
    <td>{{course.grade_set.count}}</td>
    <td>{{course.get_delivery_format_display}}</td>
    <td>
      <ul>
        {% for inst in course.instructors.all %}
        <li><a href="{% url 'app:student_info' inst.id %}">{{inst}}</a></li>
        {% endfor %}
      </ul>
    </td>
    <td>{{course.get_status_display}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
