{% extends 'app/base.html' %}

{% block title %}Manage {{course}}{% endblock %}

{% block content %}
<h2>Manage <i>{{course}}</i></h2>
<details>
  <summary>Description</summary>
  <p>{{course.template.description|linebreaksbr}}</p>
  <h3>Learning Objectives</h3>
  {{course.template.learning_objectives_block}}
</details>
<h3>Grades</h3>
<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="mode" value="grades"></input>
  {{grades.management_form}}
  <table id="grade_rows">
    <tr>
      <th>Person</th>
      <th>Grade</th>
    </tr>
    {% for form in grades %}
    <tr>
      {% for field in form %}
      <td>
        {{field}}
      </td>
      {% endfor %}
      <td>
        {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <p>{{message}}</p>
  <p><a href="{% url 'app:add_student' course.id %}">Add student</a></p>
</form>
<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="mode" value="files"></input>
  {{files.management_form}}
  <table id="file_rows">
    <tr>
      <th>File</th>
      <th>Order</th>
      <th></th>{# id field #}
      <th>Delete</th>
    </tr>
    {% for form in files %}
    <tr>
      {% for field in form %}
      <td>
        {{field}}
      </td>
      {% endfor %}
      <td>
        {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <button type="button" onclick="addForm();">Add File</button>
</form>
<details>
  <summary>All available files</summary>
  <ul>
    {% for file in all_files %}
    <li>
      <a href="{{file.content.url}}">{{file.title}}</a>
    </li>
    {% endfor %}
  </ul>
</details>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="mode" value="add"></input>
  <h3>Add new file</h3>
  {{add_file}}
  <button type="submit">Submit file</button>
</form>

<template id="empty_row">
  <tr>
    {% for field in files.empty_form %}
    <td>
      {{field}}
    </td>
    {% endfor %}
  </tr>
</template>

<script type="text/javascript">
  function addForm() {
      let template = document.getElementById('empty_row');
      let fragment = template.content.cloneNode(true);
      let totalinput = document.getElementById('id_files-TOTAL_FORMS');
      let total = Number(totalinput.value);
      for (let element of fragment.children) {
          element.innerHTML = element.innerHTML.replace(
              /(?<=\w+-)(__prefix__|\d+)(?=-\w+)/g,
              total.toString()).replace(
                  /(?<=order\")(?=>)/g,
                  ' value="'+(total+1).toString()+'"');
      }
      document.getElementById('file_rows').appendChild(fragment);
      totalinput.value = (total+1).toString();
  }
</script>
{% endblock %}
