<tr id="grade_{{grade.id}}">
  <td>
    <a href="{% url 'app:student_info' grade.person.id %}">
      {{grade.person}}
    </a>
  </td>
  <td>
    <form hx-post="{% url 'app:edit_grade' grade.course.id grade.id %}"
	        hx-target="#grade_{{grade.id}}"
	        hx-swap="outerHTML"
	        hx-trigger="change"
	        data-form-id="skip">
      {% csrf_token %}
      {{grade.as_form.value}}
    </form>
  </td>
  {% if not grade.course.locked %}
  <td>
    <form hx-post="{% url 'app:delete_grade' grade.course.id grade.id %}"
          hx-target="#grade_{{grade.id}}"
          hx-swap="outerHTML"
          data-form-id="skip">
      {% csrf_token %}
      <button type="submit"
	      style="width: 100%; display: block; margin: auto">
	      Unenroll
      </button>
    </form>
  </td>
  {% endif %}
  {% if grade_saved %}
  <td class="status">saved</td>
  {% endif %}
</tr>
