{% extends 'app/base.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
<h1>All Messages</h1>
<details>
  <summary>Received</summary>
  {% for popup in popups %}
  <div class="popup-message">
    <p class="popup-sender">Message from {{popup.sender.given_name}} {{popup.sender.family_name}} on {{popup.sent}}:</p>
    <p class="popup-body">{{popup.text|linebreaksbr}}</p>
  </div>
  {% endfor %}
</details>
<details>
  <summary>Sent</summary>
  {% for popup in sent %}
  <div class="popup-message">
    <p>Date: {{popup.sent}}</p>
    <p class="popup-body">{{popup.text|linebreaksbr}}</p>
  </div>
  {% endfor %}
</details>
{% endblock %}
