{% extends 'app/base.html' %}

{% block title %}Global Tally Sheet ({{semester}}{{year}}){% endblock %}

{% block content %}
<h1>Global Tally Sheet for {{semester}}{{year}}</h1>
<form data-form-id="skip">
  <table>{{form.as_table}}</table>
  <button type="submit">View</button>
</form>
<table>
  <tr>
    <th>Center</th>
    <th>Total</th>
    <th>Tally Sheet</th>
    <th>Status</th>
  </tr>
  {% for row in totals_locked %}
  <tr>
    <td>{{row.center}}</td>
    <td style="text-align: right">${{row.total}}</td>
    <td><a href="{% url 'app:center_tally' row.center.id %}?year={{year}}&semester={{semester}}">View Tally Sheet</a></td>
    <td>Locked</td>
  </tr>
  {% endfor %}
  {% for row in totals_locked %}
  <tr>
    <td>{{row.center}}</td>
    <td style="text-align: right">${{row.total}}</td>
    <td><a href="{% url 'app:center_tally' row.center.id %}?year={{year}}&semester={{semester}}">View Tally Sheet</a></td>
    <td id="center_{{row.center.id}}">
      <form hx-target="#center_{{row.center.id}}"
	    hx-post="{% url 'app:lock_courses' row.center.id year semester %}"
	    style="width: 100%"
	    data-form-id="skip">
	      {% csrf_token %}
	      <button type="submit">Lock Courses</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
