{% extends 'app/base.html' %}

{% block title %}Global Tally Sheet ({{semester}}{{year}}){% endblock %}

{% block content %}
<h1>Global Tally Sheet for {{semester}}{{year}}</h1>
<form>
  <table>{{form.as_table}}</table>
  <button type="submit">View</button>
</form>
<table>
  <tr>
    <th>Center</th>
    <th>Total</th>
    <th>Tally Sheet</th>
    <th>Status</th>
  </tr>
  {% for row in totals %}
  <tr>
    <td>{{row.center}}</td>
    <td style="text-align: right">${{row.total}}</td>
    <td><a href="{% url 'app:center_report' row.center.id %}">View Tally Sheet</a></td>
    <td id="center_{{row.center.id}}">
      {% if row.locked %}
      Locked
      {% else %}
      <form hx-target="#center_{{row.center.id}}"
	    hx-post="{% url 'app:lock_courses' row.center.id year semester %}"
	    style="width: 100%">
	{% csrf_token %}
	<button type="submit">Lock Courses</button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% if double_count %}
<h2>Potentially Double-Counted Centers</h2>
<p>Some graduation fees may have been double counted, affecing the following centers:</p>
<ul>
  {% for c in double_count %}{{c}}{% endfor %}
</ul>
{% endif %}
{% endblock %}
