{% extends 'app/base.html' %}

{% block title %}{{student}} Student Info{% endblock %}

{% block content %}
<h1>{{student}}</h1>
<p>
  <b>Name:</b>
  {{student.get_title_display|default_if_none:''}}
  {{student.given_name|default_if_none:''}}
  {{student.middle_name|default_if_none:''}}
  {{student.family_name|default_if_none:''}}
  {{student.suffix|default_if_none:''}}
</p>
{% if student.preferred_name %}
<p><b>Preferred Name:</b> {{student.preferred_name}}</p>
{% endif %}
<p><b>Gender:</b> {{student.get_sex_display}}</p>
{% if student.languages_spoken.first %}
<p>
  <b>Language:</b>
  {% for lg in student.languages_spoken.all %}
  {{lg}}{% if not forloop.last %},{% endif %}
  {% endfor %}
</p>
{% endif %}

{% for e in emails %}
<p><b>{{e.get_category_display}} Email Address:</b> {{e.email}}</p>
{% endfor %}

{% for p in phones %}
<p><b>{{p.get_category_display}} Phone Number:</b> {{p.phone}}</p>
{% endfor %}

{% for m in mailings %}
<p>
  <b>{{m.get_category_display}} Address:</b><br/>
  {% if m.attention %}
  ATTN: {{m.attention}}<br/>
  {% endif %}
  {{m.address|linebreaksbr}}<br/>
  {{m.city|default_if_none:''}}
  {{m.state|default_if_none:''}}
  {{m.zip_code|default_if_none:''}}
  {{m.country|default_if_none:''}}
</p>
{% endfor %}

{% if is_director %}
<details {% if contact_form_open %}open{% endif %}>
  <summary>Update Information</summary>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{contact_form.as_table}}
    </table>
    <button type="submit">Update</button>
  </form>
  <details>
    <summary>Emails</summary>
    <div id="emails" hx-trigger="load" hx-get="{% url 'app:edit_email' student.id %}">
    </div>
  </details>
  <details>
    <summary>Phone Numbers</summary>
    <div id="phones" hx-trigger="load" hx-get="{% url 'app:edit_phone' student.id %}">
    </div>
  </details>
  <details>
    <summary>Addresses</summary>
    <div id="mailings" hx-trigger="load" hx-get="{% url 'app:edit_mailing' student.id %}">
    </div>
  </details>
</details>
{% endif %}

{% if transcript %}
<h2>Transcript</h2>
<p><a href="{% url 'app:student_transcript' student.id %}">Download PDF transcript</a></p>
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Year</th>
      <th>Semester</th>
      <th>Instructor</th>
      <th>Credits</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for grade in transcript %}
    <tr>
      <td>{{grade.course.template.title}}</td>
      <td>{{grade.course.year}}</td>
      <td>{{grade.course.semester}}</td>
      <td>{{grade.course.instructor}}</td>
      <td>{{grade.course.template.credits}}</td>
      <td>{{grade.value}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if resume %}
<h2>Courses Taught</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Semester</th>
      <th>Role</th>
      <th>Manage Course</th>
    </tr>
  </thead>
  <tbody>
    {% for course in resume %}
    <tr>
      <td>{{course.template.title}}</td>
      <td>{{course.year}}</td>
      <td>{{course.get_semester_display}}</td>
      <td>
        {% if course.instructor == student %}
        Instructor
        {% else %}
        Associate Instructor
        {% endif %}
      </td>
      <td>
        {% if course.center_id in director_centers %}
        <a href="{% url 'app:manage_course' course.id %}">Manage</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% for app in student_applications %}
<h2>Application to {{app.center.name}} (Student)</h2>
<table>
  <tr>
    <th>Church</th>
    <td>{{app.church}}</td>
  </tr>
  <tr>
    <th>Length of Church Membership</th>
    <td>{{app.church_membership}}</td>
  </tr>
  <tr>
    <th>Church is SBC</th>
    <td>{{app.church_sbc|yesno}}</td>
  </tr>
  <tr>
    <th>Pastoral Recommender</th>
    <td>{{app.church_rec_name}} ({{app.church_rec_email|urlize}})</td>
  </tr>
  <tr>
    <th>Recommendation Date</th>
    <td>{{app.pastor_date|default_if_none:"Not yet submitted"}}</td>
  </tr>
  {% if app.pastor_date %}
  <tr>
    <th>Pastor Affirms Good Character</th>
    <td>{{app.good_character|yesno}}</td>
  </tr>
  <tr>
    <th>Pastor Affirms Good Standing</th>
    <td>{{app.good_standing|yesno}}</td>
  </tr>
  <tr>
    <th>Pastor Endorses Student</th>
    <td>{{app.endorsement|yesno}}</td>
  </tr>
  {% if app.pastor_explanation %}
  <tr>
    <th>Further Comments</th>
    <td>{{app.pastor_explanation}}</td>
  </tr>
  {% endif %}
  {% endif %}
  <tr>
    <th>Reference 1</th>
    <td>{{app.reference1}}</td>
  </tr>
  <tr>
    <th>Reference 2</th>
    <td>{{app.reference2}}</td>
  </tr>
  <tr>
    <th>Level of Education</th>
    <td>{{app.get_ed_level_display}}</td>
  </tr>
  <tr>
    <th>Student Feels Called to Ministry</th>
    <td>{{app.called_to_ministry|yesno}}</td>
  </tr>
  <tr>
    <th>Student has been Christian for a Year</th>
    <td>{{app.christian_year|yesno}}</td>
  </tr>
  <tr>
    <th>Student Accepts ADVANCE Standard of Conduct</th>
    <td>{{app.conduct_standard|yesno}}</td>
  </tr>
  {% if user.is_staff %}
  <tr>
    <th>Previous Gateway Student</th>
    <td>{{app.prev_gateway|yesno}}</td>
  </tr>
  <tr>
    <th>Gateway Student ID</th>
    <td>{{app.gateway_id}}</td>
  </tr>
  {% endif %}
</table>
{% endfor %}

{% for app in instructor_applications %}
{% if app.center %}
<h2>Application to {{app.center.name}} ({{app.get_role_display}})</h2>
{% else %}
<h2>Application to be an Instructor-at-Large</h2>
{% endif %}
<table>
  <tr>
    <th>Reference 1</th>
    <td>{{app.reference1}}</td>
  </tr>
  <tr>
    <th>Reference 2</th>
    <td>{{app.reference2}}</td>
  </tr>
  <tr>
    <th>Ordained</th>
    <td>{{app.ordained|yesno}}</td>
  </tr>
  <tr>
    <th>Church</th>
    <td>{{app.church}}</td>
  </tr>
  <tr>
    <th>Church Denomination</th>
    <td>{{app.denomination}}</td>
  </tr>
  <tr>
    <th>Transcript</th>
    <td>
      {% if app.transcript_mode == 'U' %}
      <a href="{{app.upload_transcript.url}}">Download</a>
      {% elif app.transcript_mode == 'E' %}
      Sent by email
      {% elif app.transcript_mode == 'A' %}
      Use Gateway transcript
      {% else %}
      No transcript provided
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Agrees to Baptist Faith &amp; Message</th>
    <td>{{app.accept_bfm|yesno}}</td>
  </tr>
</table>
{% endfor %}

{% endblock %}
