{% extends 'app/base.html' %}

{% block title %}{{center}} Tally Sheet{% endblock %}

{% block content %}
<h1>{{center.name}} ({{center.code}}) Tally Sheet for {{semester}}{{year}}</h1>
<form>
  <table>{{form.as_table}}</table>
  <button type="submit">View</button>
</form>
<table>
  <tr>
    <th>Student</th>
    <th>Home Country</th>
    <th>Credit Rate</th>
    <th>Credits</th>
    <th>New Student</th>
    <th>Graduation</th>
    <th>Total</th>
  </tr>
  {% for row in rows %}
  <tr>
    <td><a href="{% url 'app:student_info' row.0.id %}">{{row.0}}</a></td>
    {% if row.2 %}
    <td>{{row.1}}</td>
    <td>${{row.7}}</td>
    {% else %}
    <td><i>Unknown</i></td>
    <td title="Using US rate">${{row.7}}</td>
    {% endif %}
    <td>{{row.3}}</td>
    {% if row.4 %}
    <td {% if not row.2 %}title="Using US rate"{% endif %}>
      ${{row.8}}
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% if row.5 %}
    <td {% if not row.2 %}title="Using US rate"{% endif %}>
      ${{row.5}}
    </td>
    {% else %}
    <td></td>
    {% endif %}
    <td>{{row.6}}</td>
  </tr>
  {% endfor %}
  <tr>
    <th>Totals:</th>
    <td></td>
    <td></td>
    <td>{{total_credits}}</td>
    <td></td>
    <td>{{total_achievement}}</td>
    <td>{{total_fee}}</td>
  </tr>
</table>

<form action="https://haven.gs.edu/ICS/Forms/Public_Forms_(online).jnz" style="width: 15em" target="_blank">
  <input type="hidden" name="portlet" value="J1_FormFlow_-_Forms"/>
  <input type="hidden" name="screen" value="FormView"/>
  <input type="hidden" name="form" value="f912dc52-b338-402f-917c-61982d0b5307"/>
  <button onclick="return confirm('have you entered everything?')" target="_blank">Pay Now</button>
</form>
{% endblock %}
