{% extends 'app/base.html' %}

{% block title %}View Instructors{% endblock %}

{% block content %}
<h1>Staff Roster for {{center.name}}</h1>

<form method="GET">
  <table>
    {{filter_form.as_table}}
  </table>
  <button type="submit">Search</button>
</form>

<form method="POST">
  {% csrf_token %}
  <div style="display: none">
    {{filter_form}}
  </div>
  {{instructors.management_form}}
  <table>
    <tr>
      <th>Person</th>
      <th>Status</th>
      <th>Role</th>
    </tr>
    {% for form in instructors %}
    <tr>
      {% for field in form %}
      <td>
	      {{field}}
      </td>
      {% endfor %}
      <td>
	      {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <p>{{message}}</p>
</form>
{% endblock %}
