{% extends 'app/base.html' %}

{% block title %}View Students{% endblock %}

{% block content %}

<p>
  {% if status == None %}
  <span>All Students</span>
  {% else %}
  <a href="{% url 'app:center_students' center.id %}">All Students</a>
  {% endif %}
  -
  {% if status == 'C' %}
  <span>Current Students</span>
  {% else %}
  <a href="{% url 'app:center_students_current' center.id %}">Current Students</a>
  {% endif %}
  -
  {% if status == 'F' %}
  <span>Former Students</span>
  {% else %}
  <a href="{% url 'app:center_students_former' center.id %}">Former Students</a>
  {% endif %}
  -
  {% if status == 'A' %}
  <span>Pending Applications</span>
  {% else %}
  <a href="{% url 'app:center_students_applied' center.id %}">Pending Applications</a>
  {% endif %}
  -
  {% if status == 'R' %}
  <span>Rejected Applications</span>
  {% else %}
  <a href="{% url 'app:center_students_rejected' center.id %}">Rejected Applications</a>
  {% endif %}
</p>

{% if count > 0 %}
<form method="POST">
  {% csrf_token %}
  {{students.management_form}}
  <table>
    <tr>
      <th>Person</th>
      <th>Courses Taken</th>
      <th>Avg. Courses/Semester</th>
      <th>GPA</th>
      <th>Courses at Other Centers</th>
      <th>Status</th>
    </tr>
    {% for form in students %}
    <tr>
      <td>
        {{form.person.errors}}
        {{form.person}}
      </td>
      {% for item in form.instance.stats %}
      <td style="text-align: right">{{item}}</td>
      {% endfor %}
      <td>
        {{form.status.errors}}
        {{form.status}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <p>{{message}}</p>
</form>
{% else %}
<p>No student records found.</p>
{% endif %}
{% endblock %}
