{% extends 'app/base.html' %}

{% block title %}View Instructors{% endblock %}

{% block content %}

<nav>
  {% for item in header %}
  <li class="menu-item">
    {% if status == item.0 %}
    <span class="multiline">{{item.1}}</span>
    {% else %}
    <a href="{% url 'app:center_instructors_by_status' center.id item.0 %}"
       class="multiline">
      {{item.1}}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</nav>

{% if count > 0 %}
<form method="POST">
  {% csrf_token %}
  {{instructors.management_form}}
  <table>
    <tr>
      <th>Person</th>
      <th>Status</th>
    </tr>
    {% for form in instructors %}
    <tr>
      {% for field in form %}
      <td>
	      {{field}}
      </td>
      {% endfor %}
      <td>
	      {{form.person.errors}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Save</button>
  <p>{{message}}</p>
</form>
{% else %}
<p>No instructor records found.</p>
{% endif %}
{% endblock %}
